<p>transaction-add works!</p>
<form [formGroup]="newTranForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="bookId">BookId</label>
        <input type="text" class="form-control" formControlName="bookId">
    </div>
    <div>
        <label for="patronName">Patron Name:</label>
        <input type="text" class="form-control" formControlName="patName">
    </div>
    <div>
        <label for="transactionDate">Date of Borrow:</label>
        <input type="date" class="form-control" formControlName="transactionDate">
    </div>
    <div>
        <label for="DueDate">Due:</label>
        <input type="date" class="form-control" formControlName="dueDate">
    </div>
    <div>
        <button type="submit" class="btn btn-outline-dark">Add</button>
    </div>
</form>
