.btn-outline-secondary:hover{
        
    background-color: #fdf2e9;
    /* Change to the desired hover color */
  
}
.btn-outline-secondary{
color:#f38b40;
border-color: #f38b40;

font-weight: 400;
::shadow{
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}
}
.col-5{
    font-weight: 500;
    ::placeholder{
        color: #757372;
        font-size:x-small;
        font-family: 'myFont', Arial, Helvetica, sans-serif
    }
  
}

#bla{
    color: #757372;
    font-size:x-small;
    font-family: 'myFont', Arial, Helvetica, sans-serif;
    padding:13px;
    border-color: #f38b40;
}
.form-control{
    border-color: #f38b40;
    
}
