.search-bar {
    position: absolute;
    top: 50px; 
    right: 0;
    z-index: 100; 
}

.search-bar input.form-control {
    border: none;
    border-radius: 12px; 
    padding: 5px;
}

.search-bar .input-group-append button {
    border: none; /* Remove default button border */
    background-color: #2E5867; /* Change button background color */
    color: white; /* Change button text color */
    border-radius: 20px; /* Add border-radius for rounded corners */
    padding: 10px 20px; /* Add padding for better appearance */
}
.small-placeholder {
    font-size: 0.5rem;
    width: 90%; /* Full width for all screen sizes */
    padding: 5px 10px; /* Adjust padding as needed */
    height: 40px; 
}
.form-control{
    //background-color: #EFEFEF;
    width: 400px;
    //height: 50px;
    //margin-right: 20px;
   
}
.search-butt{
    background-color: #ffffff;
    color:#4c5050;
    border-color:rgb(219, 217, 217);
    height: 40px;
    font-weight: 250;
}
.input-group-text{
    background-color: #EFEFEF;
    margin-left: -57px;
    
}