.search-butt{
    background-color: #ffffff;
    color:#4c5050;
    border-color:rgb(219, 217, 217);
    height: 40px;
    font-weight: 250;
}
.input-group-text{
    background-color: #EFEFEF;
    margin-left: -57px;
    
}
.small-placeholder {
    font-size: 0.5rem;
    width: 90%; /* Full width for all screen sizes */
    padding: 5px 10px; /* Adjust padding as needed */
    height: 40px; 
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background-color: #f8f9fa;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-menu li {
    padding: 10px;
  }
  
  .dropdown-menu li a {
    display: block;
    color: #333;
    text-decoration: none;
  }
  
  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  