<div class="container p-5">
    <h2 style="color:#2E5867">Add a Book</h2>
    <form class="rounded">
        <div class="form-group w-50 p-3">
            <label for="title" class="form-label ">Title</label>
            <input
              type="text"
              class="form-control bg-body-secondary "
              formControlName="title"
              id="title"
              placeholder="Enter the title"
            />
        </div>
        <div class="form-group w-25 p-3">
            <label for="authorId" class="form-label">Author</label>
            <select class="form-select bg-body-secondary " formControlName="authorId" id="authorId">
              <option value="0">Select Authors</option>
              <option *ngFor="let author of authors" [value]="author.authorId">
                {{ author.authorName }}
              </option>
            </select>
        </div>
    </form>
    
</div>