<div class="container mt-3">
    <h1 class="mb-4">Add Book</h1>
    <form [formGroup]="newBookForm" (ngSubmit)="onSubmit()" class="shadow-sm p-5 bg-white rounded">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" formControlName="title" id="title" placeholder="Enter the title">
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="authorId" class="form-label">Author ID</label>
          <input type="number" class="form-control" formControlName="authorId" id="authorId" placeholder="Enter Author ID">
        </div>
        <div class="col-md-4">
          <label for="isbn" class="form-label">ISBN</label>
          <input type="number" class="form-control" formControlName="isbn" id="isbn" placeholder="Enter ISBN">
        </div>
        <div class="col-md-4">
          <label for="publishedYear" class="form-label">Published Year</label>
          <input type="number" class="form-control" formControlName="publishedYear" id="publishedYear" placeholder="Enter Published Year">
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" formControlName="description" id="description" placeholder="Enter book description"></textarea>
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <input type="text" class="form-control" formControlName="category" id="category" placeholder="Enter category">
      </div>
      <div class="mb-3">
        <label for="imageUrl" class="form-label">Image URL</label>
        <input type="text" class="form-control" formControlName="imageUrl" id="imageUrl" placeholder="Enter image URL">
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="rating" class="form-label">Rating</label>
          <input type="number" class="form-control" formControlName="rating" id="rating" placeholder="Enter rating (optional)">
        </div>
        <div class="col-md-6">
          <label for="status" class="form-label">Status</label>
          <input type="text" class="form-control" formControlName="status" id="status" placeholder="Enter status (e.g., Available, Borrowed)">
        </div>
      </div>
      <div class="mb-3">
        <label for="numberOfPages" class="form-label">Number of Pages</label>
        <input type="number" class="form-control" formControlName="numberOfPages" id="numberOfPages" placeholder="Enter number of pages">
      </div>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>
  