<div class="container rounded-3 mt-3 " style=" width:1050px ; height: calc(100vh - 30px); overflow-y: auto">
  <div class="row">
    <div class="col-12">
      <div class="rounded-3 p-2"  style="background-color: #FFFFFF;">
        <!-- <h2 class="book-list">Book List</h2> -->
       
        <div class="d-flex justify-content-start gap-3">
          <input
            type="text"
            class="form-control  small-placeholder"
            placeholder="Search your favorite books"
            aria-label="iudfjk"
            aria-describedby="basic-addon1"
            [(ngModel)]="searchTitle"
          />
          <span class="input-group-text" id="basic-addon1" style="height: 40px; background-color: #FFFFFF;">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="15"
              height="15"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
              />
            </svg>
          </span>
          <button
            class="btn btn-outline-dark search-butt"
            type="button"
            (click)="searchByTitle()"
          >
            Search
          </button>
          <!-- <button class="btn btn-outline-dark mt-2" (click)="addBook()">Add</button> -->
        </div>
      </div>
    </div>
    
  </div>
  <div class="container p-5 rounded-3 mt-3 " style="background-color: #FFFFFF;">
    <div class="row row-cols1 row-cols-md-4 ">
      <div class="col mb-4 " *ngFor="let book of books">
        <div class="card book-card h-100 w-100 rounded-3" (click)="bookDetail(book.bookId)" style="height: 12px;">
          <img src="{{ book.imageUrl }}" class="img-fluid rounded-3 book-image h-100 " alt="...">
          <div class="card-body h-100 w-100 ">
            <p class="card-subtitle custom-mar"><b>{{ book.title }}</b><p>
            <p class="card-subtitle text-secondary " style="font-family: Brush Script MT, Brush Script Std, cursive;"><i> {{ book.category }}</i></p>
            <!-- <button class="btn btn-outline-dark mt-2" (click)="deleteBook(book.bookId)">Delete</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
