<div class="container">
  <div class="row">
    <div class="col-12">
      <div>
        <h2 class="book-list">Book List</h2>
        <button class="btn btn-outline-dark mt-2" (click)="addBook()">Add</button>
        <div class="d-flex justify-content-end gap-3">
          <input
            type="text"
            class="form-control rounded-5 small-placeholder"
            placeholder="Search your favorite books"
            aria-label="iudfjk"
            aria-describedby="basic-addon1"
            [(ngModel)]="searchTitle"
          />
          <span class="input-group-text rounded-end-5" id="basic-addon1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
              />
            </svg>
          </span>
          <button
            class="btn btn-outline-dark rounded-pill search-butt"
            type="button"
            (click)="searchByTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container p-5">
    <div class="row row-cols-1 row-cols-md-4">
      <div class="col mb-4" *ngFor="let book of books">
        <div class="card book-card" (click)="bookDetail(book.bookId)">
          <img
            src="https://i.pinimg.com/474x/e3/26/b9/e326b92ced0cac7932bf9cc3b6f31259.jpg"
            class="card-img-top"
            alt="Book Image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <h4 class="card-text">Category: Fiction</h4>
            <!-- <button class="btn btn-outline-dark mt-2" (click)="deleteBook(book.bookId)">Delete</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
